/*↓ CONFIGURAÇÕES GERAIS↓*/
:root {
    --texto_titulo: 'Ubuntu', sans-serif;
    --texto_geral: 'Albert Sans', sans-serif;

    --cor_plano_de_fundo: #FDFBEE;
    --cor_plano_de_fundo_2: #F5F0BB;
    --cor_plano_de_fundo_3: #DFEFE7;
    --cor_titulo_principal: #90C8AC;
    --cor_titulo_secundario: #8F6336;
    --cor_texto: #8F6336;
    --cor_btn_principal: #90C8AC;
    --cor_btn_secundario: #F5F0BB;
    --cor_texto_btn_principal: #DFEFE7;
    --cor_texto_btn_secundario: #8F6336;
    --cor_icones: #73A9AD;
    --cor_borda_principal: #90C8AC;
    --cor_borda_secundaria: #8F6336;

    --tamanho_texto_p: 16px;
    --tamanho_texto_m: 18px;
    --tamanho_texto_g: 20px;

    --tamanho_titulo_p: 28px;
    --tamanho_titulo_m: 32px;
    --tamanho_titulo_g: 36px;

    --arredondamento_borda_btn: 15px;
    --arredondamento_borda: 20px;
    --arredondamento_borda_interno: 15px;
}

.modo_escuro {
    --cor_plano_de_fundo: #655D8A;
    --cor_plano_de_fundo_2: #F5F0BB;
    --cor_plano_de_fundo_3: #527184;
    --cor_titulo_principal: #D885A3;
    --cor_titulo_secundario: #8F6336;
    --cor_texto: #FDCEB9;
    --cor_btn_principal: #D885A3;
    --cor_btn_secundario: #7897AB;
    --cor_texto_btn_principal: #FDCEB9;
    --cor_texto_btn_secundario: #655D8A;
    --cor_icones: #D885A3;
    --cor_borda_principal: #D885A3;
    --cor_borda_secundaria: #FDCEB9;
}

*{padding:0;margin:0;font-family: var(--texto_geral);}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--texto_titulo);
}

h1 {
    font-size: var(--tamanho_titulo_g);
    color: var(--cor_titulo_principal);
}

h2 {
    font-size: var(--tamanho_titulo_m);
    color: var(--cor_texto);
}

p {
    font-size: var(--tamanho_texto_p);
    color: var(--cor_texto);
}

button {
    font-family: var(--texto_titulo);
    font-weight: bold;
    transition-duration: 250ms;
    border: none;
    border-radius: 0;
    padding: 5px 10px;
    cursor: pointer;
    font-size: var(--tamanho_texto_p);
    background-color: transparent;
}

button:active {
    transform: scale(0.9);
}

body {
    background-color: var(--cor_plano_de_fundo);
    max-width: 1440px;
    width: 100vw;
    margin: auto;
}
/*↑ CONFIGURAÇÕES GERAIS ↑*/
/*↓ BOTÕES ↓*/
.btn_menu_icone {
    width: 60px;
    height: fit-content;
}

.btn_menu_icone > img {
    width: 100%;
    height: fit-content;
}

#obter_link_btn {
    min-height: 50px;
    width: 120px;
    background-color: var(--cor_btn_principal);
    border-radius: var(--arredondamento_borda_btn);
    color: var(--cor_texto_btn_principal)
}

#obter_link_btn:disabled {
    filter: grayscale(1);
}

#ferramenta_saida button {
    height: 30px;
    width: 30px;
    padding: 0;
}

#abrir_link_btn {
    height: 50px;
    width: 50px;
    padding: 0;
}

#abrir_link_btn:disabled {
    filter: grayscale(1);
}

#abrir_link_btn:disabled:active {
    transform: initial;
}

#abrir_link_btn img {height: 100%;width: fit-content;}

    @keyframes efeitoTranpolimBtn {
        0% {transform: scale(1);}
        50% {transform: scale(1.1);}
    }

.container_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
    width: 100%;
}

.btn_popup {
    min-height: 50px;
    width: 100%;
    background-color: var(--cor_plano_de_fundo_2);
    color: var(--cor_texto_btn_secundario);
    border-radius: var(--arredondamento_borda_btn);
}

.btn_fechar_popup {
    background-color: var(--cor_btn_secundario);
    color: var(--cor_texto_btn_secundario);
}

.btn_acao_popup {
    background-color: var(--cor_btn_principal);
    color: var(--cor_texto_btn_principal);
}
/*↑ BOTÕES ↑*/
/*↓ CABELÇALHO ↓*/
header {
    height: 15vh;
    display: flex;
    align-items: center;
}

header > section {
    height: calc(100% - 20px);
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

header > section:first-of-type p {
    color: var(--cor_texto);
}

#subtitulo_2 {display:none;}

header > section:first-of-type {
    flex-grow: 2;
}

header > section:nth-of-type(2) {
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    gap: 0px;
}

#logo-cabeçalho {
    height: 60px;
    width: fit-content;
}
/*↑ CABEÇALHO ↑*/
/*↓ CORPO ↓*/
main {
    display: flex;
    height: 75vh;
    max-width: 1440px;
}

main section {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /*↓ CONTAINER DA FERRAMENTA ↓*/
    #container_ferramenta {
        background-color: var(--cor_plano_de_fundo_3);
        width: 400px;
        border-radius: var(--arredondamento_borda);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        text-align: center;
    }

    #ferramenta_entradas {
        width: 100%;
    }

    #ferramenta_entradas img {
        width: 45px;
        height: fit-content;
    }

    #ferramenta_entradas p {
        color: var(--cor_texto);
        font-weight: 500;
        margin-bottom: 5px;
    }

    #ferramenta_entradas > div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        margin: 20px auto;
        padding: 10px;
        gap: 10px;
        border: 2px solid var(--cor_borda_principal);
        border-radius: var(--arredondamento_borda_interno);
        background-color: var(--cor_plano_de_fundo);
    }

    #ferramenta_entradas > div div {
        width: 80%;
        text-align: left;
    }

    #ferramenta_entradas > div input {
        height: 30px;
        padding: 5px 10px;
        width: calc(100% - 20px);
        border: 2px solid var(--cor_borda_secundaria);
        background-color: transparent;
        border-radius: var(--arredondamento_borda_interno);
        color: var(--cor_texto);
    }

    #ferramenta_entradas > div input::placeholder {
        color: var(--cor_texto);
    }

    input[type=number]::-webkit-inner-spin-button {
        display: none;
    }

    /*
    input[type=text]#mensagem {
        height: 90px;
    }
    */

    #ferramenta_saida img {
        height: 100%;
        width: fit-content;
    }

    #ferramenta_saida p {
        font-weight: 600;
    }

    p#ferramenta_saida_link {
        white-space: nowrap;
        width: 100%;
        overflow: scroll;
        margin: 0;
        user-select: all;
        font-weight: normal;
    }

    p#ferramenta_saida_link::-webkit-scrollbar {
    display: none;
    }
    /*↑ CONTAINER DA FERRAMENTA ↑*/
    /*↓ CONTAINER SOBRE ↓*/
    #container_sobre {
        height: 80%;
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #container_sobre h2{
        margin-top: 20px;
    }

    #container_sobre img {
        width: 96px;
        height: fit-content;
    }

    #container_sobre p {
        font-size: var(--tamanho_texto_m);
        margin: 10px auto;
        color: var(--cor_texto);
    }
    /*↑ CONTAINER SOBRE ↑*/

/*↑ CORPO ↑*/
/*↓ POPUPS ↓*/
#container_popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0 0 0 0;
    background-color: #00000030;
    backdrop-filter: blur(2px);
}

article.popup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(80vw - 80px);
    max-width: 400px;
    min-height: fit-content;
    max-height: 80%;
    overflow-y: scroll;
    background-color: var(--cor_plano_de_fundo);
    border-radius: var(--arredondamento_borda);
    padding: 40px;
    text-align: center;
    z-index: 999;
    animation: popupAparecer 250ms ease-out;
}

    @keyframes popupAparecer {
        0% {transform: scale(0.9); opacity: 0;}
        100% {transform: scale(1); opacity: 1;}
    }

    @keyframes popupDesaparecer {
        0% {transform: scale(1); opacity: 1;}
        100% {transform: scale(0.9); opacity: 0;}
    }

    @keyframes aparecerInfoPopup {
        0% {transform: scale(0.9) translateY(-20px); opacity: 0;}
        100% {transform: scale(1) translateY(0px); opacity: 1;}
    }

article.popup > *, article.popupMiniNotificacao > * {
    animation: aparecerInfoPopup 250ms ease-out;
}

article.popup img {
    width: 128px;
    height: fit-content;
    margin: auto;
}

article.popup p, article.popup a {
    color: var(--cor_texto);
    font-size: var(--tamanho_texto_m);
}

article.popupMiniNotificacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: calc(300px - 80px);
    max-height: calc(80vh - 80px);
    padding: 40px;
    text-align: center;
    color: var(--cor_texto);
    background-color: var(--cor_plano_de_fundo);
    border-radius: var(--arredondamento_borda);
    animation: popupAparecer 250ms ease-out;
}
/*↑ POPUPS ↑*/
/*↓ RODAPÉ ↓*/
footer {
    height: fit-content;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(10vh - 40px);
}

footer p, footer a {
    text-align: center;
    color: var(--cor_texto);
}
/*↑ RODAPÉ ↑*/
/*↓ RESPONSIVIDADE ↓*/
@media screen and (max-width: 1024px) {
    html {height: fit-content;}
    main {flex-direction: column; height: fit-content;}
    main section {width: 80vw; margin: 40px auto; height: fit-content;}
    #container_ferramenta{height: fit-content;}
}

@media screen and (max-height: 600px) and (min-width: 768px){
    main {height: fit-content;}
    header {height: fit-content; padding: 20px 0px;}
    main {height: fit-content;}
    article.popup {max-height: 50%;}
}

@media screen and (max-width: 768px) {
    header{height: fit-content; padding: 30px 20px; flex-wrap: wrap;}
    header section {justify-content: center;}
    header section:nth-child(2) {justify-content: center;}
    main {height: fit-content;}
    #ferramenta_entradas > div input {width: calc(100% - 30px);}
}

@media screen and (max-width: 425px) {
    h1,h2,h3,h4 {font-size: var(--tamanho_titulo_p);}
    header {padding: 20px 0 0 0;}
    #subtitulo_1 {display: none;}
    p#subtitulo_2 {display: block;}
    #container_ferramenta {min-width:100%; padding: 30px 10px;}
    #ferramenta_entradas > div {width: 80%;}
    article.popup p {text-align: justify;}
}

@media screen and (max-width: 375px) {
    h1,h2,h3,h4 {max-width: fit-content;}
}
/*↑ RESPONSIVIDADE ↑*/